
<div class="menu">
    <p class="title">
        SERVICIO MÉDICO
    </p>
    <hr>
    <p class="subtitle">
        Bienvenido(a) a su servicio medico
    </p>
    <div class="information-container">
        <img class="information-icon" src="../../../assets/images/information-icon.svg" alt="">
        <p clas="information-text">Todos los datos personales recabados seran solamente usados por su médico.</p>
    </div>
    <div class="information-squares">
        <div class="square square-encuesta">
            <p class="text-encuesta">
                Escuestas
            </p>
            <div class="inside-square i-square-encuesta">
                <p class="text-inside-square">
                    En esta sección contestara diversas encuestas, favor de contestar con sinceridad.
                </p>
                <img class="number" src="../../../assets/images/numero1.png" alt="">
            </div>
            
        </div>
        <div class="square square-familia">
            <p class="text-familia"> 
                Registrar Familia
            </p>
            <div class="inside-square i-square-familia">
                <p class="text-inside-square">
                    Registre a sus familiares en esta sección llenando un formulariocon su información
                </p>
                <img class="number" src="../../../assets/images/numero2.png" alt="">
            </div>
        </div>
        <div class="square square-perfil">
            <p class="text-perfil">
                Perfil
            </p>
            <div class="inside-square i-square-perfil">
                <p class="text-inside-square">
                    Aquí podrá visualizar su perfil y editar su información a como se requiera
                </p>
                <img class="number" src="../../../assets/images/numero3.png" alt="">
            </div>
        </div>
    </div>
</div>