
<div class="encuestas">
    <p class="title">Encuestas</p>
    <hr>
    <p class="subtitle">Selecciona la encuesta que desee realizar</p>
    <div class="seleccion-encuesta">
        <div class="encuesta e-informacion-personal">
            <p class="text-encuesta">Información personal</p>
            <img class="imagen-encuesta" src="../../../assets/images/informacion-personal.png" alt="">
        </div>
        <div class="encuesta e-informacion-trabajo">
            <p class="text-encuesta">Información de Trabajo</p>
            <img class="imagen-encuesta" src="../../../assets/images/informacion-trabajo.png" alt="">
        </div>
        <div class="encuesta e-historial-medico">
            <p class="text-encuesta">Historial Médico</p>
            <img class="imagen-encuesta" src="../../../assets/images/informacion-medica.png" alt="">
        </div>
        <div class="encuesta e-condiciones-personales">
            <p class="text-encuesta">Condiciones Personales</p>
            <img class="imagen-encuesta" src="../../../assets/images/condiciones-personales2.png" alt="">
        </div>
        <div class="encuesta e-datos-socioeconomicos">
            <p class="text-encuesta">Datos Socioeconómicos</p>
            <img class="imagen-encuesta" src="../../../assets/images/estado-socioeconomico.png" alt="">
        </div>
        <div class="encuesta e-historial-familiar">
            <p class="text-encuesta">Historial Familiar</p>
            <img class="imagen-encuesta" src="../../../assets/images/historial-familiar.png" alt="">
        </div>
        <div class="encuesta e-costumbres">
            <p class="text-encuesta">Costumbres</p>
            <img class="imagen-encuesta" src="../../../assets/images/costumbres.png" alt="">
        </div>
        <div class="encuesta e-habitos-alimenticios">
            <p class="text-encuesta">Habitos Alimenticios</p>
            <img class="imagen-encuesta" src="../../../assets/images/habitos-alimenticios.png" alt="">
        </div>
    </div>
</div>
